:root {
	background-color: #1f1f1f;
}
.test {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.test > div {
	padding: 0.5rem 1rem;
	margin: 1rem auto;
	width: 90%;
	max-width: 45rem;
	background: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 10px;
}
